@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: "Exo", sans-serif;
}

.container-wrapper {}

.container-wrapper--orange {
    background-color: #e67e22;
    color: white;
    margin-top: 0;
}

.container-wrapper--pink {
    background-color: rgb(187, 46, 140);
    color: white;
    margin-top: 0;
}

/* All images taking from original photos with permission from Gemini Gymnastic Club*/
.hero-container {
    height: 450px;
    width: 100%;

    background: url("../images/hire-us-image.jpg") no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}

/*----------------------------------Colours */

.bg-color-logo-footer {
    background-color: rgb(167, 101, 145); 
}

.ui-menu-color-home {
    background-color: #9b59b6;
}

.ui-menu-color-classes {
    background-color: #3498db;
}

.ui-menu-color-facilities {
    background-color: #e67e22;
}

.ui-menu-color-contact {
    background-color: rgb(187, 46, 140);
}

.ui-menu-color-gallery {
    background-color: #40d371;
}

.ui-menu-color-menuicon {
background-color: #05056d;
}

/*---------------------------------- Paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.general-sub h6 { 
    margin-bottom: 0;
}

.inline-block {
    display: inline-block;
}

/*----------------------------------Dividers */

.line-divider {
    height:5px; 
    border:0; 
    background-color:#17a2b8; 
    width: 75px; 
    text-align:center; 
    margin: 10, 0, 20, 0 auto;
}

.line-divider--short {
    height:5px; 
    border:0; 
    background-color:#17a2b8; 
    width: 35px; 
    text-align:center;
}

.line-divider--large {
    height:5px; 
    border:0; 
    background-color:#17a2b8; 
    width: 200px; 
    text-align:center;
}

.line-divider--classes {
    height:5px; 
    border:0; 
    background-color:#05056d; 
    width: 200px; 
    text-align:center;
}


/*----------------------------------Heading */

header {
    margin: 0;
}

/* Logo provided with agreement from the Gemini Gymnastic club*/
.logo {
    height: 50px;
    max-width: 80%;
    float: left;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.navbar-toggler-icon {
    background-color: #05056d;
}

.menuitem {
    height: 120px;
    width: 190px;
    text-align: center;
    padding: 0;

}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 100px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
} 

.hero-heading {
    text-align: center;
    background-color: rgb(167, 101, 145);
    padding-top: 20px;
    padding-bottom: 30px;
}

.hero-heading h2 {
    font-family: "Exo", sans-serif;
    font-weight: 200;   
    color: #fafafa;
}

.hero-heading h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #05056d;
}

.class-header h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Exo", sans-serif;
    text-align: center;
    color: #05056d;
}

.class-header h4, h5 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Exo", sans-serif;
    text-align: left;
    padding-top: 30px;
    color: #05056d;
}

.classes-table {
    background-color: #05056d;
    color: #fff;
    width: 110%;
    margin-top: 15px;
    padding: 0;
    overflow-x: scroll;
}

/*----------------------------------Hover.css */

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

.class-header .btn:hover {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: white;
}

/*----------------------------------Footer */

footer {
    background-color: rgb(204, 161, 190);
    color: #05056d;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 35px;
    height: 35px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #17a2b8;
    background: #05056d;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #17a2b8;
    color: #05056d;
}

#footer-details {
    padding: 0px;
    margin: 5px;
}

/*----------------------------------Sections */

.statement-heading {
    text-align: center;
    padding-top: 20px;
    color: #17a2b8;
}

.statement-heading p {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 0px;
    color: #05056d;
}

.statement-slogan p {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    color: #17a2b8;
}

.content-container {
    padding-top: 35px;
    padding-bottom: 30px;
}

.facility {
    text-align: center;
    margin-bottom: 40px;
}

.facility i {
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 45px;
}

.cafe-container {
    height: 600px;
    width: 100%;

    background: url("../images/coffee-bar.jpg") no-repeat;
    background-position: bottom left; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

.party-container {
    height: 600px;
    width: 100%;

    background: url("../images/party-balloons.jpg") no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.hire-us-container {
    height: 600px;
    width: 100%;

    background: url("../images/hire-us-image.jpg") no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.classes-container {
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #3498db;
}

.gallery-container {
    background-color: #494343;
}

/*---------------------------------- Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px;
    color: white;
}

/*----------------------------------Buttons */

.class-header .btn {
    background-color: lightgrey;
    border-color: lightgrey;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #17a2b8;
}

/*----------------------------------Contact Form */

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 75%;
    background-color: #fafafa;
    border-radius: 20px;
}

/*----------------------------------Gallery */

.gallery img {
  width: 100%;
  height: auto;
  margin: 5px;
}

/*----------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 20px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 75%;
    }
}
