@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
body {
    font-family: "Exo", sans-serif;
}

.container-wrapper {}

.hero-container {
    height: 400px;
    width: 100%;

    background: url("../images/run-track2.jpg") no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}

/*----------------------------------Colours */

.bg-color-logo-footer {
    background-color: rgb(167, 101, 145); 
}

.ui-menu-color-home {
    background-color: #9b59b6;
}

.ui-menu-color-classes {
    background-color: #3498db;
}

.ui-menu-color-facilities {
    background-color: #e67e22;
}

.ui-menu-color-contact {
    background-color: rgb(187, 46, 140);
}

.ui-menu-color-gallery {
    background-color: #40d371;
}

/*----------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.general-sub h6 {
    margin-bottom: 0;
}

.inline-block {
    display: inline-block;
}

.line-divider {
    height:5px; 
    border:0; 
    background-color:#17a2b8; 
    width: 75px; 
    text-align:center; 
    /*margin: 10, 0, 20, 0 auto;*/
}

.line-divider--short {
    height:5px; 
    border:0; 
    background-color:#17a2b8; 
    width: 35px; 
    text-align:center;
}

.line-divider--large {
    height:5px; 
    border:0; 
    background-color:#17a2b8; 
    width: 200px; 
    text-align:center;
}

/*----------------------------------Heading */

header {
    margin: 0;
}

.logo {
    background-image: url("../images/gemini-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 120px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    width: 190px;
    text-align: center;
    padding: 0;

}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 100px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
} 

.hero-heading {
    text-align: center;
    background-color: rgb(167, 101, 145);
    /*background-color: #e8dcdc;*/
    padding-top: 20px;
    padding-bottom: 30px;
}

.hero-heading h2 {
    font-family: "Exo", sans-serif;
    font-weight: 200;   
    color: #fafafa;
}

.hero-heading h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #05056d;
}

.class-header h2 {
    margin-top: 0;
    font-family: "Exo", sans-serif;
    text-align: center;
    color: #05056d;
}

.class-header h5 {
    margin-top: 0;
    font-family: "Exo", sans-serif;
    text-align: left;
    padding-top: 30px;
    color: #05056d;
}

/*----------------------------------Hover.css */

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/*----------------------------------Footer */

footer {
    background-color: rgb(204, 161, 190);
    color: #05056d;
    min-height: 120px;
    margin: 0;
}

.social-links {
    margin-top: 10px;
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #05056d;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.social-links li a i:hover {
    background: #17a2b8;
}

#footer-details {
    padding: 20px;
}

/*----------------------------------Sections */

.statement-heading {
    text-align: center;
    padding-top: 20px;
    color: #17a2b8;
}

.statement-heading p {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 0px;
    color: #05056d;
}

.statement-slogan p {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    color: #17a2b8;
}

.content-container {
    padding-top: 35px;
    padding-bottom: 45px;
}

.classes {
    margin-bottom: 25px;
}

/*----------------------------------Buttons */
.class-header .btn:hover {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: white;
}

.class-header .btn {
    background-color: lightgrey;
    border-color: lightgrey;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #17a2b8;
}

/*----------------------------------Media */
